<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{NAME}} v{{VERSION}}</title>
<script src="assets/lib/tailwind.min.js"></script>
<script src="assets/lib/lz-string.min.js"></script>
<script src="assets/lib/sweetalert2.all.min.js"></script>
<script src="assets/lib/firebase-app-compat.js"></script>
<script src="assets/lib/firebase-database-compat.js"></script>
<link
    href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap"
    rel="stylesheet"
/>
<link rel="stylesheet" href="assets/css/popup.css" />
